{% extends 'projects/base.html' %}

{% load static %}

{% block content %}
    <div class="card-group">
        {% for project in projects %} 
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ project.title }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ project.description }}</h5>
                    <img src="{% static project.image %}" class="card-img-top" alt="Screenshot of project" >
                    <p class="card-text"><small class="text-muted">{{ project.technology }}</small></p>
                </div>
                <div class="position-relative"">
                    <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-warning position-absolute top-100 start-50 translate-middle">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}}