{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

  <div class="card text-center" style="max-width: 18rem;">
    <div class="card-header">
      {{project.title}}
    </div>
    <div class="card-body">
      <img src="{% static project.image %}" class="card-img-top" alt="Screenshot of project" >
      <h5 class="card-title"> {{project.description}} </h5>
      <p class="card-text">{{project.technology}}</p>
      <a href="{% url 'projects:all_projects' %}" class="btn btn-primary">Go Home</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

{% endblock %}